div {
margin:0;


}


.urlImg {
  width: 185px;
  height:185px;
  display:block;
  background-image: url('img/duck.png');

}
.urlImg:hover {
  background-image: url('img/peng.png');

}

.listitem {

  margin:0 0 20px 0;
}



.hide {
  display: none;
}

#pizzaimg:hover + .hide {
  display: block;
  color: black;
}
#curryimg:hover + .hide {

  display: block;
  color: black;

}

#Dumplingimg:hover + .hide {


display: block;
  color: black;
}

#Porkimg:hover + .hide {

  display: block;
  color: black;

}#curryimg:hover + .hide {

  display: block;
  color: black;

}


#pizzaheight {
height:100vh;

}


#recipeButton {
font-size: 4rem;
font-family:fantasy;

}

#leftside {
  height:100vh;
}

#rightside {
height:100vh;


}

#rec-show{
height:100vh;
border:none;


}


.dropbtn {
 
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
};


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  background-color: #7F8487 ;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1;
  color: #7F8487 ;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color: #7F8487;
}